/* item */

.grid-item {
  display: block;

  text-align: center;

  color: rgb(240, 250, 220);
  border-radius: 4px;
  transition: transform 0.3s ease-in-out;
}

.grid-item:hover {
  filter: opacity(0.9);
  transform: scale(1.04);
}

.grid-item * {
  display: block;
}

.grid-item a {
}
.grid-item a img {
  width: 40%;
  height: auto;
  margin: 40px auto 0 auto;
  border: solid px rgb(253, 167, 47);
}
.grid-item a h4 {
  color: rgb(253, 167, 47);
  margin: 20px auto;
}
.grid-item p {
  color: rgb(240, 245, 230);
}
