/* grid container */

.grid-container,
.beers-list-empty,
.beers-list-header {
  width: 90%;
  max-width: 1200px;
  margin: 20px auto;
}
.grid-container {
  display: grid;
  /*gap: 1.6em;*/
  /* grid-template-columns: repeat(4, 1fr) 3%; */
  /*grid-template-columns: repeat(5, 1fr);*/

  /*
    display: grid;
    */
  grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
  grid-auto-rows: minmax(500px, auto);
  gap: 20px;
  padding: 20px;
  grid-auto-flow: dense;
}
