/* detail */
.beer-detail {
  width: 90%;
  max-width: 1000px;
  margin: 50px auto;
  display: block;
}
.beer-detail > * {
  display: block;
}
.beer-detail h2 {
}
.beer-detailh4 {
}
.beer-detail h5 {
}
.beer-detail img {
  display: inline-block;
  width: 100px !important;
  height: auto;
  margin: 20px 0;
}
.beer-detail hr {
}
.beer-detail p {
}
