/* filters */
.beers-filters {
  display: flex;
}
.beers-filters form fieldset {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 8px;
  justify-content: space-between;
}
.beers-filters form fieldset label {
  /*width: 33%;*/
  /*max-width: 220px;*/
  border-width: 0;
  background-color: black;
}
