/* header */

header {
  border-bottom: solid 2px rgb(70, 50, 30);
  display: grid;
  grid-template-columns: 300px 170px auto;
  /*grid-template-columns: 10% 10% 80%; */
  /* padding: 20px 20px; */
  width: 100%;
  justify-content: space-around;
  /* background: yellow !important; */
}

header h1 {
  color: #26882e;
  font-size: 16px;
}

header a {
  position: relative;

  align-self: flex-start;
}

header a svg {
  fill: white;
  height: 32px;
  position: relative;
  top: 2px;
  width: 125px;
}

header a svg:hover {
  fill: white;
}

header a svg text {
  display: none;
  font-size: 12px;
}

@media all and (min-width: 750px) {
  header {
    align-items: center;
    grid-template-columns: 200px auto 160px;
    padding: 40px;
    width: calc(100% - 80px);
  }

  header h1 {
    font-size: 24px;
  }

  header a {
    justify-self: end;
    width: 100px;
  }
  header a svg text {
    display: inherit;
  }
}
