/* search */

form {
  display: flex;
  min-width: 300px;

  flex-flow: row wrap;
  align-items: center;
}

form input {
  border: solid rgb(70, 50, 30);
  border-width: 1px;
  border-radius: 2px 0 0 2px;
  /*  vertical-align: middle;*/
  /* flex: 1; */
  /*display: inline-block;*/
  /* font-size: 16px; */
  background-color: transparent;
  color: white;
  font-weight: 200;
  height: 33px;
  margin: 0;
  width: 170px;

  padding: 5px;
  -webkit-appearance: textfield;
}

form button {
  z-index: 100;
  border: none;
  /*flex: 1;*/
  cursor: pointer;
  height: 33px;
  /*padding: 5px;*/
  background-color: #26882e;
  width: 33px;
  color: #fff;
}
form button.active {
  background-color: rgb(255, 0, 162);
}
form svg {
  border-radius: 0 2px 2px 0;
  fill: white;
  height: 100%;
  max-width: 30px;
  padding: 0 7px;
  /* margin: 5px; */
  /* width: 24px; */
}

form svg:hover {
  background-color: #1d6823;
  fill: white;
}

@media all and (min-width: 750px) {
  form label {
    display: inline;
  }

  form input::placeholder {
    opacity: 0;
  }
}

.btnSearch {
  margin: 0;
}

.btn {
  border: none;
  cursor: pointer;
  height: 33px;

  padding: 5px;
  background: rgb(70, 50, 30) !important;
  color: white !important;
}
