/* footer */
footer {
  padding: 20px;
  border-top: solid 2px rgb(70, 50, 30);
  color: rgb(200, 200, 200);
  text-align: center;
}
footer nav {
  /*padding: 40px 0;*/
}

footer nav a {
  color: #333;
}

footer nav .social:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

footer nav .social {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}
/*
    Multicoloured Hover Variations
*/

footer nav #social-fb:hover {
  color: #3b5998;
}

footer nav .social-tw:hover {
  color: #4099ff;
}

footer nav .social-gp:hover {
  color: #d34836;
}

footer nav .social-in:hover {
  color: #f39c12;
}
