* {
  box-sizing: border-box;
  margin: 0;
}
html {
  height: 100%;
}

body {
  color: rgb(243, 243, 243);
  background-color: #000000;
  font-family: sans-serif;
  font-size: 13px;
}

.message-box {
}

.app {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      display: flex;
      flex-direction: column;
}
.app > main {
      flex-grow: 1;
}
